<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"></thymeleaf>
</head>
<body>
<div class="container">
    <div th:if="${lastAction}" class="alert alert-success" style="padding: 15px; border-radius: 5px; margin: 10px 0; font-size: 16px; font-weight: bold; color: #155724; background-color: #d4edda; border: 1px solid #c3e6cb;">
        <span th:text="${lastAction}"></span>
    </div>
    <h2>Customer List</h2>
    <div th:if="${not #lists.isEmpty(customers)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Show</th>
                <th>Delete</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td><a th:href="@{'/customer/' + ${customer.id} + '/edit'}">Edit</a></td>
                <td><a th:href="@{'/customer/' + ${customer.id}}">View</a></td>
                <td><a th:href="@{'/customer/' + ${customer.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<a th:href="@{/customer/add}">
    New Customer
</a>
</body>
</html>

